@import 'variables';

/*
=======================
    HELPER CLASSES
=======================
*/

.text--centered {
    text-align: center;
}

@for $i from 1 through 5 {
    .pl-#{$i} {
        padding-left: $global-font-size - (3 - $i)*0.375*$global-font-size;
    }
}

@for $i from 1 through 5 {
    .py-#{$i} {
        padding-top: $global-font-size - (3 - $i) * 0.375 * $global-font-size;
        padding-bottom: $global-font-size - (3 - $i) * 0.375 * $global-font-size;
    }
}
