$timeline-btn-click__animation-duration: 0.8s;
$timeline-slide-down__animation-duration: 1s;
$timeline-content-slide-to-sides__animation-duration: 1s;

/*
##########################################
   BUTTON TIMELINE ROTATE ON HOVER
##########################################
*/

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

#experience .btn-timeline:hover:before {
    transform: rotate(-360deg);
    animation-name: rotate;
    animation-duration: .5s;
    margin: 0;
    padding: 0;
    font-size: .7rem;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    content: 'View my experience here!';
}

#education .btn-timeline:hover:before {
    transform: rotate(-360deg);
    animation-name: rotate;
    animation-duration: .5s;
    margin: 0;
    padding: 0;
    font-size: .7rem;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    content: 'View my education here!';
}

/*
##########################################
   BUTTON TIMELINE ON CLICK
##########################################
*/

@keyframes btn-timeline-onclick {
    to {
        transform: translateX(-50%) scale(1);
        top: 10%;
    }
}

.btn-timeline-onclick {
    animation-name: btn-timeline-onclick;
    animation-duration: $timeline-btn-click__animation-duration;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE SLIDE
##########################################
*/

@keyframes slide-out-from-top {
    from {
        transform: scale(1, 0);
    }
    to {
        transform: scale(1);
    }
}

.timeline--slide-out {
    animation-name: slide-out-from-top;
    animation-delay: $timeline-btn-click__animation-duration;
    animation-duration: $timeline-slide-down__animation-duration;
    transform-origin: 50% 0%;
    animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE CONTENT FROM RIGHT
##########################################
*/

@keyframes slide-from-right {
    from {
        transform: scale(0, 1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.timeline-content--from-right {
    animation-delay:
        $timeline-btn-click__animation-duration
        + $timeline-slide-down__animation-duration;
    transform-origin: 100% 50%;
    animation-name: slide-from-right;
    animation-duration: $timeline-content-slide-to-sides__animation-duration;
    animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE CONTENT FROM LEFT
##########################################
*/

@keyframes slide-from-left {
    from {
        transform: scale(0, 1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.timeline-content--from-left {
    animation-delay:
        $timeline-btn-click__animation-duration
        + $timeline-slide-down__animation-duration;
    transform-origin: 0% 50%;
    animation-name: slide-from-left;
    animation-duration: $timeline-content-slide-to-sides__animation-duration;
    animation-fill-mode: forwards;
}
