#welcome {
    background: transparent;
    font-size: 2rem;
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 1;

    .owl-carousel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
