/*
=======================    
    HELPER CLASSES
=======================    
*/
.text--centered {
  text-align: center;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 22px;
}

.pl-5 {
  padding-left: 28px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-5 {
  padding-top: 28px;
  padding-bottom: 28px;
}

#welcome {
  background: transparent;
  font-size: 2rem;
  position: relative;
}

#welcome .owl-carousel {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#particles {
  background: #212121;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

canvas {
  display: block;
  vertical-align: bottom;
}

html, body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: white;
}

section {
  height: 100vh;
}

#info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30% auto 60% auto;
      grid-template-columns: auto 30% auto 60% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#introduction {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#introduction h1 {
  font-size: 2.2rem;
  margin-top: 0;
}

#introduction h4 {
  font-size: 1.5rem;
}

#introduction table {
  margin-top: 1rem;
}

#description {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

#description h1 {
  margin-top: 0;
}

.card {
  position: relative;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1.5rem;
  background-color: rgba(64, 77, 78, 0.5);
  border-radius: 1rem;
}

ul.card__social-buttons {
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

ul.card__social-buttons li {
  display: inline-block;
  padding: 0 .5rem;
}

ul.card__social-buttons li a {
  display: block;
  bottom: 0;
  color: #ffffff;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30% auto 30% auto 30% auto;
      grid-template-columns: auto 30% auto 30% auto 30% auto;
  -ms-grid-rows: 47.5% 5% 47.5%;
      grid-template-rows: 47.5% 5% 47.5%;
  grid-row-gap: 1.3rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.skills-grid .skill-1 {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-2 {
  text-align: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-3 {
  text-align: center;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-4 {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid .skill-5 {
  text-align: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid .skill-6 {
  text-align: center;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid h3 {
  margin-top: 1.2rem;
}

.skills-grid span {
  font-size: .9rem;
}

.progressbar {
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  position: relative;
}

.info-icon {
  font-size: 1.5rem;
}

.btn-github:hover {
  color: #da621d;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-linkedin:hover {
  color: #0077b5;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-twitter:hover {
  color: #1da1f2;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-blogger:hover {
  color: #f57d00;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}
/*# sourceMappingURL=main.css.map */