#particles {
  background: #212121;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#welcome {
  background: transparent;
  font-size: 2rem;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

#welcome .owl-carousel {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#introduction {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

#introduction h1 {
  font-size: 2.2rem;
  margin-top: 0;
}

#introduction h4 {
  font-size: 1.5rem;
}

#introduction table {
  margin-top: 1rem;
}

.introduction__stick-with-scroll--down {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 1000ms ease-in 0s;
  transition: all 1000ms ease-in 0s;
}

.introduction__stick-with-scroll--up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 1000ms ease-in 0s;
  transition: all 1000ms ease-in 0s;
}

#skills {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

#skills h1 {
  margin-top: 0;
}

ul.card__social-buttons {
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

ul.card__social-buttons li {
  display: inline-block;
  padding: 0 .5rem;
}

ul.card__social-buttons li a {
  display: block;
  bottom: 0;
  color: #ffffff;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30% auto 30% auto 30% auto;
      grid-template-columns: auto 30% auto 30% auto 30% auto;
  -ms-grid-rows: 47.5% 5% 47.5%;
      grid-template-rows: 47.5% 5% 47.5%;
  grid-row-gap: 1.3rem;
  font-size: 1rem;
  margin-top: 3rem;
}

.skills-grid .skill-1 {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-2 {
  text-align: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-3 {
  text-align: center;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

.skills-grid .skill-4 {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid .skill-5 {
  text-align: center;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid .skill-6 {
  text-align: center;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

.skills-grid h3 {
  margin-top: 1.2rem;
}

.skills-grid span {
  font-size: .9rem;
}

.progressbar-angular, .progressbar-tsjs, .progressbar-spring,
.progressbar-db, .progressbar-cleancode, .progressbar-passion {
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  position: relative;
}

/*
##########################################
   SKILLS SLIDE FROM RIGHT
##########################################
*/
@-webkit-keyframes skills__from-right {
  from {
    left: 100%;
    opacity: 0.4;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes skills__from-right {
  from {
    left: 100%;
    opacity: 0.4;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.skills__from-right {
  -webkit-animation-name: skills__from-right;
          animation-name: skills__from-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

#timelines {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#experience {
  -ms-grid-column: 1;
  grid-column: 1;
}

#experience .card {
  padding: 2rem .5rem;
}

#education {
  -ms-grid-column: 2;
  grid-column: 2;
}

#education .card {
  padding: 2rem .5rem;
}

#experience *, #education * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-timeline {
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: .5em;
  cursor: pointer;
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  width: 5rem;
  height: 5rem;
  text-align: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-timeline:hover {
  background-color: rgba(64, 77, 78, 0.5);
  width: 5.5rem;
  height: 5.5rem;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-timeline:hover i {
  display: none;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  top: 10%;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  font-size: .75rem;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: .85rem;
  height: .85rem;
  right: -.65rem;
  background-color: white;
  border: 4px solid #7a6876;
  top: 1.4rem;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

/* Place the container to the right */
.right {
  left: 50%;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: .85rem;
  border: medium solid rgba(64, 77, 78, 0.5);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(64, 77, 78, 0.5);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: .85rem;
  border: medium solid rgba(64, 77, 78, 0.5);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(64, 77, 78, 0.5) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -.7rem;
  top: 1.3rem;
}

/* The actual content */
.content {
  padding: .375rem 1.2rem;
  background-color: rgba(64, 77, 78, 0.5);
  color: #ddd;
  position: relative;
  border-radius: 6px;
  text-align: left;
  opacity: 0;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 4.4rem;
    padding-right: 1.6rem;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 3.75rem;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 1rem;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*
##########################################
   BUTTON TIMELINE ROTATE ON HOVER
##########################################
*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

#experience .btn-timeline:hover:before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  margin: 0;
  padding: 0;
  font-size: .7rem;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  content: 'View my experience here!';
}

#education .btn-timeline:hover:before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  margin: 0;
  padding: 0;
  font-size: .7rem;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  content: 'View my education here!';
}

/*
##########################################
   BUTTON TIMELINE ON CLICK
##########################################
*/
@-webkit-keyframes btn-timeline-onclick {
  to {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    top: 10%;
  }
}
@keyframes btn-timeline-onclick {
  to {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    top: 10%;
  }
}

.btn-timeline-onclick {
  -webkit-animation-name: btn-timeline-onclick;
          animation-name: btn-timeline-onclick;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE SLIDE
##########################################
*/
@-webkit-keyframes slide-out-from-top {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes slide-out-from-top {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.timeline--slide-out {
  -webkit-animation-name: slide-out-from-top;
          animation-name: slide-out-from-top;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE CONTENT FROM RIGHT
##########################################
*/
@-webkit-keyframes slide-from-right {
  from {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  from {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.timeline-content--from-right {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation-name: slide-from-right;
          animation-name: slide-from-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*
##########################################
   TIMELINE CONTENT FROM LEFT
##########################################
*/
@-webkit-keyframes slide-from-left {
  from {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-from-left {
  from {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.timeline-content--from-left {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation-name: slide-from-left;
          animation-name: slide-from-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*
=======================    
    HELPER CLASSES
=======================    
*/
.text--centered {
  text-align: center;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 22px;
}

.pl-5 {
  padding-left: 28px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-5 {
  padding-top: 28px;
  padding-bottom: 28px;
}

html, body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: white;
}

.scrollable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30% auto 60% auto;
      grid-template-columns: auto 30% auto 60% auto;
  -ms-grid-rows: 100vh 100vh;
      grid-template-rows: 100vh 100vh;
}

.card {
  position: relative;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1.5rem;
  background-color: rgba(64, 77, 78, 0.5);
  border-radius: 1rem;
}

.info-icon {
  font-size: 1.5rem;
}

.btn-github:hover {
  color: #da621d;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-linkedin:hover {
  color: #0077b5;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-twitter:hover {
  color: #1da1f2;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}

.btn-blogger:hover {
  color: #f57d00;
  font-size: 1.75rem;
  padding: .375rem .9rem;
}
/*# sourceMappingURL=main.css.map */